body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #333;
}

nav {
    background: #2c3e50;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #1abc9c;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.1);
}


header {
    text-align: center;
    background: linear-gradient(to right, #1abc9c, #16a085);
    color: #fff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 0.5em;
}

main {
    padding: 20px;
    background: #fff;
    margin: 1em auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


footer p {
    margin: 0;
}

.logo{
    width: 200px;
    height: 200px;
    padding-top: 0px;
}
.About{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    left: 50%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 0px;
}
.details{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 40%;
    top: 37%;

}
.linkedin{
    height: 30px;
    width: 30px;
}